@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Orbitron&display=swap');


.auth{
 display: flex; align-items: center; justify-content: center;  flex-direction: column;
  width: 100%;
  height: 100%;
  // background: linear-gradient(rgb(255, 170, 170), #ffbed2) ;
  background: rgb(255, 255, 255);
  

 
  .kakaoLogo{
    position: relative;
    margin-bottom: 40px;
    // color: rgb(255, 10, 10);
    color: rgb(243, 0, 0);
    font-size: 64px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;  

  }
  // .kakaoLogo::after{
  //     content:"TALK";
  //     display: block;
  //     width: 240px;
  //     height: 160px;
  //     background: #513736;
  //     border-radius: 50%;
  //     line-height: 160px;
  //     text-align: center;
  //     color: #ece820;
     
  // }
  // .kakaoLogo::before{
  //   position: absolute;
  //   bottom: 0px;
  //   content:"";
  //   display: block;
  //   width: 100px;
  //   height: 100px;
  //   background: #513736;
  //   border-radius: 50%;
  //   line-height: 160px;
  //   text-align: center;
  //   color: #ece820;
  //  }
  form{
    input{
      display: block; 
      border: 1px solid red; 
      // border: none;
      border-radius: 80px;
      height: 40px; 
      width: 280px;
      opacity: 80%;
      // box-shadow: 1px 1px 10px #fff ;
    &:first-child{
      // border-bottom: 1px solid #eee; 
      margin-bottom: 8px;
    }
    &:last-child{
      margin-top: 16px; color: red;
    }
    &::placeholder{padding-left: 16px; color: #f00; opacity: 50%;}
    }
    .authError{
      color: #f00;
    
    }
  }
  span{
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 80px;
    color:rgb(153, 153, 153);
    // font-weight: bold;
    font-size: 12px;

    &:hover{
      color: #000;
    }
  }
  .socialLog{
    display: flex;
    
    button{
      
      cursor: pointer;
      display: block;
      width: 160px;
      height: 40px;
      border: none;
      // border-radius: 40px;
      // background: #ffe9e9;
      background: none;
      color: red;
      margin: 4px;
     
      opacity: 60%;

      &:hover{
        opacity: 100%;
      }

      
       button:first-of-type{
        svg{
        
       } 
          
          
        }
      
      
    }
  }
}

